include ../../mod

div(class="flex flex-col bg-saldo-100 gap-2 xl:gap-4 py-6 xl:px-8 -mx-4 xl:-mx-16 1xl:mx-0 1xl:rounded-2xl")
    div(class="flex text-pretty text-saldo-600 justify-start items-center ml-4 mt-4 xl:text-3xl text-xl font-bold")
        | Приемущества
    div(class="grid text-sm text-saldo-600 drop-shadow-md flex-col gap-4 p-4 grid-cols-2 md:grid-cols-3 xl:grid-cols-5 ")
        +finger_block()
        +deliver_car()
        +money_optom()
        +money_back()
        +low_price()


