nav(class="flex" aria-label="Breadcrumb")
    ol(class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse")
        li(class="inline-flex items-center")
            a(href="/" class="inline-flex items-center text-sm xl:text-base font-normal text-saldo-300")
                | Главная
        span(class="mx-2 text-gray-400") /
        li(class="inline-flex items-center")
            a(href="#" class="inline-flex items-center text-sm xl:text-base font-normal text-saldo-300")
                | Главная категория
        span(class="mx-2 text-gray-400") /
        li(class="inline-flex items-center")
            span(href="#" class="inline-flex items-center text-sm xl:text-base font-normal text-saldo-600")
                | Категория