include ../../mod

section(class="w-full flex flex-col space-y-8")
    div(class="flex lg:justify-between lg:w-full")
        // Catalog name + button catalog
        div(class="flex w-full lg:w-auto content-between justify-between lg:space-x-12 items-center")
            div(class="whitespace-pre-wrap")
                p(class="text-slate-800 lg:text-3xl text-xl font-bold") Их купили сегодня
            div(class="justify-end")
                +button_catalog("Смотреть все")
        // Arrows
        div(class="hidden lg:flex justify-around gap-2")
            +buttonLeft()
            +buttonRight()
    include card-section/buy_cards