div(class="flex flex-col gap-6 pb-4 w-full mt-4 xl:mt-10")
    div(class="flex justify-between")
        div(class="flex text-pretty text-saldo-600 justify-start items-center xl:text-3xl text-xl font-bold")
            | Наши сертификаты
        div(class="hidden xl:flex justify-around gap-2")
            +buttonLeft()
            +buttonRight()
    div(class="flex gap-4 overflow-x-scroll no-scrollbar scroll-smooth w-full snap-x drop-shadow-lg" dir="ltr")
        div(class="rounded-2xl flex-shrink-0 xl:flex-shrink w-48 h-56 xl:w-2/5 xl:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 xl:p-6 object-contain")
        div(class="rounded-2xl flex-shrink-0 xl:flex-shrink w-48 h-56 xl:w-2/5 xl:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 xl:p-6 object-contain")
        div(class="rounded-2xl flex-shrink-0 xl:flex-shrink w-48 h-56 xl:w-2/5 xl:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 xl:p-6 object-contain")
        div(class="rounded-2xl flex-shrink-0 xl:flex-shrink w-48 h-56 xl:w-2/5 xl:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 xl:p-6 object-contain")
        div(class="rounded-2xl flex-shrink-0 xl:flex-shrink w-48 h-56 xl:w-2/5 xl:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 xl:p-6 object-contain")