div(class="flex flex-col gap-6 pb-4 w-full")
    div(class="flex justify-between")
        div(class="flex text-pretty text-saldo-600 justify-start items-center lg:text-3xl text-xl font-bold")
            | Наши сертификаты
        div(class="hidden lg:flex justify-around gap-2")
            +buttonLeft()
            +buttonRight()
    div(class="flex gap-4 overflow-x-scroll no-scrollbar scroll-smooth w-full snap-x drop-shadow-lg" dir="ltr")
        div(class="rounded-2xl flex-shrink-0 lg:flex-shrink w-48 h-56 lg:w-2/5 lg:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 lg:p-6 object-contain")
        div(class="rounded-2xl flex-shrink-0 lg:flex-shrink w-48 h-56 lg:w-2/5 lg:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 lg:p-6 object-contain")
        div(class="rounded-2xl flex-shrink-0 lg:flex-shrink w-48 h-56 lg:w-2/5 lg:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 lg:p-6 object-contain")
        div(class="rounded-2xl flex-shrink-0 lg:flex-shrink w-48 h-56 lg:w-2/5 lg:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 lg:p-6 object-contain")
        div(class="rounded-2xl flex-shrink-0 lg:flex-shrink w-48 h-56 lg:w-2/5 lg:h-auto bg-white overflow-hidden")
            img(src="helicopter.png" alt="хеликоптек" class="p-4 lg:p-6 object-contain")