include ../../mod

div(class="flex flex-col md:flex-row bg-saldo-100 rounded-2xl space-y-3 md:space-y-0 my-4 md:my-8")
    div(class="flex flex-col gap-2 md:space-y-3 md:w-3/5 md:p-10 p-4 text-saldo items-center md:items-start")
        div(class=" md:text-3xl text-xl font-bold") Контакты
        div(class="inline-flex flex-col space-y-2 items-center md:items-start")
            +address("г. Нижняя Салда ул. Ломоносова 10", "#")
            +phone("9097054703")
            +email("oknaveka-ns@mail.ru")
        div(class="flex pt-3 gap-2")
            +big_whatsapp("#")
            +big_telegram("#")
    iframe(src='https://yandex.ru/map-widget/v1/?ll=60.695552%2C58.074969&mode=search&oid=123486134645&ol=biz&utm_campaign=desktop&utm_medium=search&utm_source=maps&z=17.12' frameborder="0" allowfullscreen="true" class="rounded-xl md:w-3/5 w-full h-[304px]")
