
include src/header/header
main(class="h-dvh p-4 lg:p-0 lg:mx-auto gap-6 bg-saldo-white")
    include src/header/header_main
    include src/main/banners
    include src/main/sections/cards_section
    include src/main/sections/buy_cards_section
    include src/main/sections/gramota
    include src/main/sections/map
include src/main/sections/advantages
include src/footer/footer