include src/header/header
main(class="flex flex-col h-dvh p-4 lg:p-0 lg:px-16 gap-6 bg-neutral-100 max-w-lg")
    include src/header/header_main
    include src/main/banners
    include src/main/sections/cards_section
    include src/main/sections/buy_cards_section
    include src/main/sections/map
include src/footer/footer