include src/mod.pug
//Корень секции
div(class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4 drop-shadow-lg")
    //Карточка
    +order_card()
//Корень секции
div(class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4 drop-shadow-lg")
    //Карточка
    +jobs_card()
