//- add all mixins
include ../mod

- const categories = ['Главная категория 1', 'Главная категория 2', 'Главная категория 3', 'Главная категория 4', 'Главная категория 5', 'Главная категория 6', 'Главная категория 7']

//margin m-4 for mobile
div(class="gap-4 flex flex-col lg:m-0")
    div(class="lg:flex lg:justify-between lg:items-center")
        +logo()
        +menu_buttons()
        +social_buttons()

    div(class="hidden lg:block")
        ul(class="flex justify-between whitespace-pre-line items-center text-saldo-600 gap-6 *no-underline hover:*:underline")
          each el in categories
              a(href="h") #{el}

