//- add all mixins
include ../mod

- const categories = ['Главная категория 1', 'Главная категория 2', 'Главная категория 3', 'Главная категория 4', 'Главная категория 5', 'Главная категория 6', 'Главная категория 7']

//margin m-4 for mobile
div(class="gap-4 flex flex-col xl:m-0")
    div(class="xl:flex xl:justify-between xl:items-center")
        +logo()
        +menu_buttons()
        +social_buttons()

    div(class="hidden xl:block")
        ul(class="flex justify-between whitespace-pre-line items-center text-saldo-600 gap-6 *no-underline hover:*:underline")
          each el in categories
              a(href="h") #{el}

    div(class="hidden w-full h-4/5 absolute z-20 left-0 top-36 -mt-3 bg-white" id="dropdown-mega-menu")
        div(class="flex h-full divide-x divide-saldo-300 1xl:mx-auto max-w-screen-1xl px-4 overflow-hidden")
            div(class="w-1/5 overflow-y-scroll scroll-smooth overscroll-contain")
                +menu()
            div(class="flex pl-8 h-full w-4/5 overflow-y-scroll scroll-smooth overscroll-contain")
                div(class="flex flex-col gap-8")
                    span(class="text-saldo-600 font-bold text-4xl") Категория
                    div(class="xl:w-full ")
                        +submenu()



