//- add all mixins
include ../mod

- const categories = ['Главная категория 1', 'Главная категория 2', 'Главная категория 3', 'Главная категория 4', 'Главная категория 5', 'Главная категория 6', 'Главная категория 7']

//margin m-4 for mobile
div(class="gap-4 flex flex-col lg:m-0")
    div(class="lg:flex lg:justify-between lg:items-center")
        +logo()
        +menu_buttons()
        +social_buttons()

    div(class="hidden lg:block" id="header_main_categories")
        ul(class="flex justify-between whitespace-pre-line items-center text-saldo-600 gap-6 *no-underline hover:*:underline")
          each el in categories
              a(href="h") #{el}

    div(class="hidden flex lg:w-full w-screen absolute z-10 left-0 top-36 bg-white" id="dropdown-menu")
        div(class="flex gap-8 divide-x divide-saldo-300 mx-auto max-w-screen-1xl px-4 overflow-hidden")
            div(class="w-1/5")
                +menu()
            div(class="flex w-4/5 pl-8 h-full w-full")
                div(class="flex flex-col gap-8")
                    span(class="text-saldo-600 font-bold text-4xl") Категория
                    +submenu()

    script.
      toggleMenu = () => {
        document.getElementById("header_main_categories").classList.toggle("lg:hidden");
        document.getElementById("dropdown-menu").classList.toggle("hidden");
      }



