mixin buy_card(enabler, under_buttons)
    //main input
    div(class="flex-shrink-0  xl:inline-block bg-white rounded-2xl overflow-hidden snap-center scroll-ms-auto")
        +buy_card_image_text(enabler, under_buttons)


mixin buy_card_text()
    div(class="text-saldo-800 text-sm md:text-lg font-bold leading-normal")
        |Хеликоптер

mixin buy_card_under_text()
    div(class="text-slate-800 text-[12px] vsm:text-sm md:text-base font-normal leading-snug line-clamp-2")
        |Скорость, 300 км в час,
        |мощь и сила в руках его
        |что-то ещё про силу вертолёта


mixin money()
    div(class="justify-start items-start gap-4 xl:gap-2 xl:gap-4 inline-flex")
        div(class="text-saldo text-[12px] vsm:text-lg md:text-xl font-bold leading-normal")
            |999 ₽
        div(class="font-thin text-saldo-300 text-[12px] vsm:text-base leading-snug line-through")
            |999 999 ₽

mixin buy_card_image(enabler)
    div(class="")
        img(src="helicopter.png", alt="helicopter", class=" h-32 w-36 vsm:h-44 vsm:w-36 xl:size-auto xl:p-2 xl:p-4 xl:object-scale-down xl:object-center  ")
        if (enabler === true)
            div(class="absolute bottom-0 left-0  msv:-ml-2 md:ml-0 xl:ml-0 flex flex-col gap-2 ")
                div(class="bg-red-400 rounded-md text-white font-medium text-[12px] vsm:text-sm px-2 py-0.5 xl:py-1 leading-tight text-center")
                    |Новинка
                div(class="bg-green-400 rounded-md text-white text-[12px] vsm:text-sm px-2 py-0.5 xl:py-1 leading-tight text-center w-3/4")
                    |-99%
        else
            div(class="")
mixin buy_card_image_text(enabler, under_buttons)
    div(class="inline-flex flex-col w-full space-y-6 p-2 md:p-3 xl:p-4 xl:space-y-2 xl:space-y-6 items-center xl:items-stretch -mr-14 xl:-mr-0")
        div(class="w-full inline-flex justify-around relative")
            +buy_card_image(enabler)
        div(class="flex flex-col items-start gap-2 whitespace-pre-wrap")
            div(class="md:mb-8 xl:mb-2 xl:mb-8")
                +buy_card_text()
                +buy_card_under_text()
            div(class="inline-flex items-start md:mb-2")
                +money()
            if (under_buttons === true)
                div(class="flex items-center justify-between w-full")
                    div(class="flex")
                        +button_card()
                    div(class="grid grid-cols-2 vsm:gap-4 xl:gap-2 xl:gap-4")
                        +button_compare
                        +button_heart
            else
                div(class="hidden md:flex items-center justify-between w-full")
                    div(class="flex")
                        +button_card()
                    div(class="grid grid-cols-2 gap-2 vsm:gap-4 xl:gap-2 xl:gap-4")
                        +button_compare
                        +button_heart
