

mixin buy_card_start(enabler)
    //main input
    div(class="flex-shrink-0 lg:flex-shrink lg:inline-block bg-white rounded-2xl overflow-hidden snap-start scroll-ms-auto lg:size-1/5")
        +buy_card_image_text(enabler)

mixin buy_card(enabler)
    //main input
    div(class="flex-shrink-0 lg:flex-shrink lg:inline-block bg-white rounded-2xl overflow-hidden snap-center scroll-ms-auto lg:size-1/5")
        +buy_card_image_text(enabler)

mixin buy_card_end(enabler)
    //main input
    div(class="flex-shrink-0 lg:flex-shrink lg:inline-block bg-white rounded-2xl overflow-hidden snap-end scroll-ms-auto lg:size-1/5")
        +buy_card_image_text(enabler)




mixin buy_card_text()
    div(class="text-saldo-800 text-xl font-bold leading-normal")
        |Хеликоптер

mixin buy_card_under_text()
    div(class="text-slate-800 text-base font-normal leading-snug line-clamp-2")
        |Скорость, 300 км в час,
        |мощь и сила в руках его
        |что-то ещё про силу вертолёта


mixin money()
    div(class="justify-start items-start gap-4 lg:gap-2 xl:gap-4 inline-flex")
        div(class="text-saldo text-xl font-bold leading-normal")
            |999 ₽
        div(class="font-thin text-saldo-300 leading-snug line-through")
            |999 999 ₽

mixin buy_card_image(enabler)
    div(class="relative")
        img(src="helicopter.png", alt="helicopter", class="h-44 w-36 lg:size-auto lg:p-2 xl:p-4 lg:object-scale-down lg:object-center  ")
        if (enabler === true)
            div(class="absolute bottom-0 left-0 -ml-2 lg:-ml-0 flex flex-col gap-2 ")
                div(class="bg-red-400 rounded-md text-white  font-medium text-sm px-2 py-0.5 xl:py-1 leading-tight text-center")
                    |Новинка
                div(class="bg-green-400 rounded-md text-white font-thin text-sm px-2 py-0.5 xl:py-1 leading-tight text-center w-3/4")
                    |-99%
        else
            div(class="absolute bottom-0 left-0 -ml-8 lg:-ml-0 flex flex-col gap-2")
mixin buy_card_image_text(enabler)
    div(class="inline-flex flex-col w-full space-y-6 p-2 md:p-3 xl:p-4 lg:space-y-2 xl:space-y-6 items-center lg:items-stretch -mr-14 lg:-mr-0")
        div(class="w-full inline-flex justify-around")
            +buy_card_image(enabler)
        div(class="flex flex-col items-start gap-2 whitespace-pre-wrap")
            div(class="md:mb-8 lg:mb-2 xl:mb-8")
                +buy_card_text()
                +buy_card_under_text()
            div(class="inline-flex items-start md:mb-2")
                +money()
            div(class="hidden md:flex items-center justify-between w-full")
                div(class="flex")
                    +button_card()
                div(class="flex space-x-4 lg:space-x-2 xl:space-x-4")
                    +button_compare
                    +button_heart
