mixin card_start()
    //main input
    div(class="flex-shrink-0 lg:flex-shrink lg:inline-block bg-white rounded-2xl overflow-hidden snap-start scroll-ms-auto lg:size-1/5")
        +card_image_text

mixin card()
    //main input
    div(class="flex-shrink-0 lg:flex-shrink lg:inline-block bg-white rounded-2xl overflow-hidden snap-center scroll-ms-auto lg:size-1/5")
        +card_image_text

mixin card_end()
    //main input
    div(class="flex-shrink-0 lg:flex-shrink lg:inline-block bg-white rounded-2xl overflow-hidden snap-end scroll-ms-auto lg:size-1/5")
        +card_image_text

mixin card_reversed()
    div(class="flex-shrink bg-white rounded-lg")
        +card_image_text_reversed



mixin card_text()
    h1(class="float-left font-bold lg:text-md xl:text-xl text-saldo-600 leading-normal")
        |  Прямошлифовальные
        br
        |  машины
        |
        span(class="text-saldo-300")
            a(href='#') 12 товаров

mixin card_image()
    img(src="helicopter.png", alt="helicopter", class="h-52 w-44 lg:size-auto lg:object-scale-down lg:object-center p-5")

mixin card_image_text()
    div(class="inline-flex flex-col w-full p-2 space-y-4")
        div(class="xl:ml-2 mt-2")
            +card_text()
        div(class="")
            +card_image()

mixin card_image_text_reversed()
    div(class="flex flex-col lg:flex-row-reverse lg:w-full gap-2")
        div(class="flex justify-evenly p-2 pb-0")
            img(src="helicopter.png", alt="helicopter", class="h-20 w-22 size-auto object-scale-down lg:object-center")
        div(class="flex xl:ml-2 px-2 pb-2")
            h1(class="float-left font-semibold text-[12px] vsm:text-sm lg:text-md xl:text-xl text-saldo-600")
                |  Прямошлифовальные
                br
                |  машины
                |
                span(class="text-saldo-300")
                    a(href='#') 12 товаров
