mixin card_start()
    //main input
    div(class="flex-shrink-0 lg:flex-shrink lg:inline-block bg-white rounded-2xl overflow-hidden snap-start scroll-ms-auto lg:size-1/5")
        +card_image_text

mixin card()
    //main input
    div(class="flex-shrink-0 lg:flex-shrink lg:inline-block bg-white rounded-2xl overflow-hidden snap-center scroll-ms-auto lg:size-1/5")
        +card_image_text

mixin card_end()
    //main input
    div(class="flex-shrink-0 lg:flex-shrink lg:inline-block bg-white rounded-2xl overflow-hidden snap-end scroll-ms-auto lg:size-1/5")
        +card_image_text




mixin card_text()
    h1(class="float-left font-bold lg:text-md xl:text-xl text-saldo-600 leading-normal")
        |  Прямошлифовальные
        br
        |  машины
        |
        span(class="text-saldo-300")
            a(href='#') 12 товаров

mixin card_image()
    img(src="helicopter.png", alt="helicopter", class="h-52 w-44 lg:size-auto lg:object-scale-down lg:object-center p-5")

mixin card_image_text()
    div(class="inline-flex flex-col w-full p-2 space-y-4")
        div(class="xl:ml-2 mt-2")
            +card_text()
        div(class="")
            +card_image()