mixin discont_buy_card_start()
    //main input
    div(class="flex-shrink-0 xl:flex-shrink xl:inline-block bg-white rounded-2xl overflow-hidden snap-start scroll-ms-auto xl:size-1/5")
        +discont_buy_card_image_text

mixin discont_buy_card()
    //main input
    div(class="flex-shrink-0 xl:flex-shrink xl:inline-block bg-white rounded-2xl overflow-hidden snap-center scroll-ms-auto xl:size-1/5")
        +discont_buy_card_image_text

mixin discont_buy_card_end()
    //main input
    div(class="flex-shrink-0 xl:flex-shrink xl:inline-block bg-white rounded-2xl overflow-hidden snap-end scroll-ms-auto xl:size-1/5")
        +discont_buy_card_image_text




mixin discont_buy_card_text()
    h1(class="float-left font-bold")
        |  Прямошлифовальные
        br
        |  машины
        |
        span(class="text-slate-400")
            a(href='#') 12 товаров

mixin discont_buy_card_image()
    img(src="helicopter.png", alt="helicopter", class="h-52 w-44 xl:size-auto xl:object-scale-down xl:object-center p-5")

mixin discont_buy_card_image_text()
    div(class="inline-flex flex-col w-full p-2 space-y-4")
        div(class="")
            +card_image()
        div(class="xl:ml-2 mt-2")
            +card_text()
