include ../mod
section(class="flex xl:grid grid-cols-3 drop-shadow-md gap-4")
        div(id="swiper1" class="first-block xl:flex bg-saldo-50 rounded-2xl swiper w-full h-full relative overflow-hidden col-span-2")
            div(class="z-10 swiper-button-prev1 absolute left-6 top-1/2")
                div(class="relative")
                    div(class="bg-saldo-300 blur-md size-6 absolute")
                    +buttonLeft
            div(class="swiper-wrapper items-center")
                div(class="swiper-slide")
                    div(class="max-w-full relative overflow-hidden pt-[50%]")
                        img(src="first_image.png", alt="" class="absolute top-0 left-0 w-full h-full object-cover")
                div(class="swiper-slide")
                    div(class="max-w-full relative overflow-hidden pt-[50%]")
                        img(src="first_image.png", alt="" class="absolute top-0 left-0 w-full h-full object-cover")
            div(class="z-20 swiper-button-next1 absolute right-6 top-1/2")
                div(class="relative")
                    div(class="bg-saldo-300 blur-md size-6 absolute")
                    +buttonRight
        div(id="swiper2" class="second-block bg-saldo-50 rounded-2xl swiper w-full h-full relative overflow-hidden")
                    div(class="z-10 swiper-button-prev2 absolute left-6 top-1/2 hidden xl:block")
                        div(class="relative")
                            div(class="bg-saldo-300 blur-md size-6 absolute")
                            +buttonLeft
                    div(class="swiper-wrapper items-center")
                        div(class="swiper-slide")
                            div(class="max-w-full relative overflow-hidden pt-[78.43%]")
                                img(src="ew.jpg", alt="" class="absolute top-0 left-0 w-full h-full object-cover")
                        div(class="swiper-slide")
                            div(class="max-w-full relative overflow-hidden pt-[78.43%]")
                                img(src="ew.jpg", alt="" class="absolute top-0 left-0 w-full h-full object-cover")
                        div(class="swiper-slide")
                            div(class="max-w-full relative overflow-hidden pt-[78.43%]")
                                img(src="ew.jpg", alt="" class="absolute top-0 left-0 w-full h-full object-cover")
                    div(class="z-20 swiper-button-next2 absolute right-6 top-1/2 hidden xl:block")
                            div(class="relative")
                                div(class="bg-saldo-300 blur-md size-6 absolute")
                                +buttonRight
