mixin svg_finger
    svg(width='39' height='40' viewbox='0 0 39 40' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M8.10938 37.6922L8.51138 35.7329C8.65938 35.0116 9.36404 34.5469 10.0854 34.6942L17.2694 36.1676C17.9907 36.3156 18.4554 37.0202 18.308 37.7416L17.906 39.7009' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M17.0434 26.8758L18.2434 23.8112C18.3 23.6625 18.3347 23.5025 18.3347 23.3338C18.3347 22.5972 17.7374 22.0005 17.0014 22.0005C16.6467 22.0005 16.32 22.1398 16.082 22.3658' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M19.358 28.1138L20.2427 25.8112C20.3 25.6625 20.3347 25.5025 20.3347 25.3338C20.3347 24.5972 19.7373 24.0005 19.0013 24.0005C18.6127 24.0005 18.2427 24.1678 18 24.4338' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M16.3887 35.9872C18.6373 34.6925 20.354 32.6625 21.296 30.2438C21.8013 28.9458 22.2427 27.8112 22.2427 27.8112C22.3 27.6625 22.3347 27.5025 22.3347 27.3338C22.3347 26.5972 21.7373 26.0005 21.0013 26.0005C20.5953 26.0005 20.2333 26.1825 19.99 26.4698' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M10.3346 34.7457V33.9277C10.3346 33.2277 10.1506 32.5397 9.80197 31.933L5.81797 24.9897C5.72397 24.8263 5.66797 24.533 5.66797 24.3337C5.66797 23.413 6.41397 22.667 7.33464 22.667C7.92597 22.667 8.45464 22.9697 8.7413 23.4397L10.5113 26.3383C10.6346 26.5397 10.8533 26.6657 11.0893 26.667C11.372 26.6683 11.626 26.4923 11.728 26.229L15.0933 17.523C15.2853 17.023 15.7666 16.667 16.3346 16.667C17.0706 16.667 17.668 17.2637 17.668 18.0003C17.668 18.169 17.6333 18.329 17.576 18.4777L14.7013 25.961' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M14.848 18.1702C14.1193 17.4462 13.668 16.4422 13.668 15.3335C13.668 13.1242 15.4586 11.3335 17.668 11.3335C19.8773 11.3335 21.668 13.1242 21.668 15.3335C21.668 17.5428 19.8773 19.3335 17.668 19.3335C17.5313 19.3335 17.3953 19.3268 17.262 19.3135' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M23.668 6.66699C24.7725 6.66699 25.668 5.77156 25.668 4.66699C25.668 3.56242 24.7725 2.66699 23.668 2.66699C22.5634 2.66699 21.668 3.56242 21.668 4.66699C21.668 5.77156 22.5634 6.66699 23.668 6.66699Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M3.66797 14.667C4.77254 14.667 5.66797 13.7716 5.66797 12.667C5.66797 11.5624 4.77254 10.667 3.66797 10.667C2.5634 10.667 1.66797 11.5624 1.66797 12.667C1.66797 13.7716 2.5634 14.667 3.66797 14.667Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M29.668 25.3335C30.7725 25.3335 31.668 24.4381 31.668 23.3335C31.668 22.2289 30.7725 21.3335 29.668 21.3335C28.5634 21.3335 27.668 22.2289 27.668 23.3335C27.668 24.4381 28.5634 25.3335 29.668 25.3335Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M11.0013 7.33366C12.8423 7.33366 14.3346 5.84127 14.3346 4.00033C14.3346 2.15938 12.8423 0.666992 11.0013 0.666992C9.16035 0.666992 7.66797 2.15938 7.66797 4.00033C7.66797 5.84127 9.16035 7.33366 11.0013 7.33366Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M34.3333 14.6667C36.1743 14.6667 37.6667 13.1743 37.6667 11.3333C37.6667 9.49238 36.1743 8 34.3333 8C32.4924 8 31 9.49238 31 11.3333C31 13.1743 32.4924 14.6667 34.3333 14.6667Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M17 11.389C17 10.2777 14.458 7.22233 13 6.66699' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M28.5 11.3813C29.078 11.35 30.278 11.334 31 11.334' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M25.8691 11.6345C26.1765 11.5898 26.4931 11.5498 26.8178 11.5151' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M21.0859 13.254C21.6419 12.698 22.6606 12.306 24.1273 11.96' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M14.2617 3.30499C15.0384 2.87366 15.9697 2.66699 17.0011 2.66699C17.7511 2.66699 18.8897 3.02833 19.5271 3.43166' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M14.5527 13.6373C12.2193 13.026 8.948 13 6 13' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M24.3359 22.667C25.2839 22.667 26.5859 22.771 27.6693 23.3337' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M21.8262 23.2461C21.9582 23.2021 22.3682 23.0781 22.8308 22.9561' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M25.4502 17.2936C25.1595 17.1929 24.8582 17.1029 24.5488 17.0249' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M29.6688 21.3334C29.6688 20.1988 28.0408 18.5081 26.6074 17.7808' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')

mixin svg_delivery_car
    svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M26.0656 32.667H13.2656' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M6.73203 32.6667H4.66536C3.9287 32.6667 3.33203 32.07 3.33203 31.3333V17.3333C3.33203 16.5967 3.9287 16 4.66536 16H21.332C24.9987 16 35.9987 20.8333 35.9987 31.3333C35.9987 32.07 35.402 32.6667 34.6654 32.6667H32.5987' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M23.332 18.6665V25.3332H30.6654' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M22.6641 28H24.6641' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M9.9974 36.6667C11.8383 36.6667 13.3307 35.1743 13.3307 33.3333C13.3307 31.4924 11.8383 30 9.9974 30C8.15645 30 6.66406 31.4924 6.66406 33.3333C6.66406 35.1743 8.15645 36.6667 9.9974 36.6667Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M29.3333 36.6667C31.1743 36.6667 32.6667 35.1743 32.6667 33.3333C32.6667 31.4924 31.1743 30 29.3333 30C27.4924 30 26 31.4924 26 33.3333C26 35.1743 27.4924 36.6667 29.3333 36.6667Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M4.66406 36.667H21.3307' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M22.6641 36.667H23.9974' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M25.332 36.6665H34.6654' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M9.9987 33.9998C10.3669 33.9998 10.6654 33.7014 10.6654 33.3332C10.6654 32.965 10.3669 32.6665 9.9987 32.6665C9.63051 32.6665 9.33203 32.965 9.33203 33.3332C9.33203 33.7014 9.63051 33.9998 9.9987 33.9998Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M29.3307 34.0003C29.6989 34.0003 29.9974 33.7018 29.9974 33.3337C29.9974 32.9655 29.6989 32.667 29.3307 32.667C28.9625 32.667 28.6641 32.9655 28.6641 33.3337C28.6641 33.7018 28.9625 34.0003 29.3307 34.0003Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M26 14.6668V10.0002C26 9.63216 26.2987 9.3335 26.6667 9.3335H30.6667C31.0347 9.3335 31.3333 9.63216 31.3333 10.0002V16.0002' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M18.668 14.6663V9.99967C18.668 9.63167 18.9666 9.33301 19.3346 9.33301H23.3346C23.7026 9.33301 24.0013 9.63167 24.0013 9.99967V14.6663' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M16.332 14.6663V8.41634C16.332 7.81834 16.0334 7.33301 15.6654 7.33301H11.6654C11.2974 7.33301 10.9987 7.81834 10.9987 8.41634V14.6663' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M36 20V21.3333' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M30 9.33333V7.33333C30 7.08533 30.1353 6.86867 30.3367 6.754L35.0033 4.08733C35.1007 4.032 35.2133 4 35.3333 4C35.7013 4 36 4.29867 36 4.66667V18.6667' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')

mixin svg_money_optom
    svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M23.3379 37.6908C24.0172 37.5634 24.6826 37.3981 25.3326 37.1968' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M20 38C20.6747 38 21.3407 37.9626 21.996 37.8906' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M16.6687 33.6012C10.5447 32.1065 6 26.5838 6 19.9998C6 16.1338 7.57 12.6372 10.104 10.1038L11.0587 11.0585C11.2353 11.2352 11.4753 11.3345 11.726 11.3345C12.2453 11.3338 12.6667 10.9118 12.6667 10.3918V5.99984C12.6667 5.26317 12.07 4.6665 11.3333 4.6665H6.94333C6.42267 4.6665 6 5.08917 6.00067 5.60984C6.00067 5.85984 6.1 6.09984 6.27667 6.2765L7.27333 7.27317C4.016 10.5305 2 15.0292 2 19.9998C2 29.4918 9.34733 37.2678 18.6653 37.9512' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M20.0013 33.9999C19.322 33.9999 18.6533 33.9512 18 33.8579' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M16.6626 2.30957C15.9833 2.4369 15.318 2.60224 14.668 2.80357' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M19.9999 2C19.3252 2 18.6592 2.03733 18.0039 2.10933' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M23.3326 6.39883C29.4566 7.89349 34.0013 13.4162 34.0013 20.0002C34.0013 23.8662 32.4313 27.3628 29.8973 29.8962L28.9446 28.9435C28.7679 28.7668 28.5279 28.6675 28.2779 28.6675C27.7573 28.6668 27.3346 29.0895 27.3346 29.6102V34.0002C27.3346 34.7368 27.9313 35.3335 28.6679 35.3335H33.0599C33.5799 35.3335 34.0019 34.9122 34.0019 34.3922C34.0019 34.1422 33.9026 33.9022 33.7259 33.7248L32.7279 32.7268C35.9853 29.4695 38.0013 24.9708 38.0013 20.0002C38.0013 10.5082 30.6539 2.73216 21.3359 2.04883' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M20 6C20.6793 6 21.348 6.04867 22.0013 6.142' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M8.29297 23.0418L22.6676 8.6665L31.3343 17.3332L16.9596 31.7085' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M18.6654 24.6667C20.5063 24.6667 21.9987 23.1743 21.9987 21.3333C21.9987 19.4924 20.5063 18 18.6654 18C16.8244 18 15.332 19.4924 15.332 21.3333C15.332 23.1743 16.8244 24.6667 18.6654 24.6667Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M13.3333 26.6665H12V27.9998H13.3333V26.6665Z' fill='#1D2848')
        path(d='M15.3333 24.6665H14V25.9998H15.3333V24.6665Z' fill='#1D2848')
        path(d='M23.3333 16.6665H22V17.9998H23.3333V16.6665Z' fill='#1D2848')
        path(d='M25.3333 14.6665H24V15.9998H25.3333V14.6665Z' fill='#1D2848')

mixin svg_money_back
    svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M38.4502 12.281C38.5276 12.3897 38.5729 12.523 38.5729 12.667C38.5729 12.8543 38.4969 13.0243 38.3716 13.1443C30.0869 21.0837 28.5729 22.167 18.1989 27.2663C18.1109 27.3097 18.0109 27.3337 17.9062 27.3337C17.6702 27.3337 17.4629 27.211 17.3449 27.0263L10.0116 15.693C9.94492 15.589 9.90625 15.4657 9.90625 15.3337C9.90625 15.0423 10.0929 14.795 10.3529 14.7043C18.0736 12.0023 24.4063 8.00033 29.3536 0.960992C29.4762 0.785659 29.6762 0.666992 29.9062 0.666992C30.1322 0.666992 30.3316 0.778992 30.4522 0.950992L38.4502 12.281Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M33.9367 10.6115L31.2787 6.84554C30.8993 7.1462 30.426 7.33354 29.9047 7.33354C29.2967 7.33354 28.7473 7.0882 28.3467 6.69287C24.744 10.5949 20.5413 13.3282 15.7407 15.3875C15.8447 15.6449 15.9047 15.9249 15.9047 16.2195C15.9047 17.0015 15.4987 17.6855 14.8887 18.0815L17.6073 22.2829C17.924 22.1082 18.2833 22.0002 18.6707 22.0002C19.3713 22.0002 19.9893 22.3315 20.396 22.8389C26.4653 19.7562 28.944 18.0455 33.7327 13.6029C33.428 13.2229 33.238 12.7469 33.238 12.2215C33.238 11.5855 33.5087 11.0162 33.9367 10.6115V10.6115Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M24.5729 16.0003C24.9411 16.0003 25.2396 15.7018 25.2396 15.3337C25.2396 14.9655 24.9411 14.667 24.5729 14.667C24.2047 14.667 23.9062 14.9655 23.9062 15.3337C23.9062 15.7018 24.2047 16.0003 24.5729 16.0003Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M31.6123 22.1533L33.1143 24.2813C33.1916 24.39 33.237 24.5233 33.237 24.6673C33.237 24.8547 33.161 25.0247 33.0356 25.1447C24.751 33.084 23.237 34.1673 12.863 39.2667C12.775 39.31 12.675 39.334 12.5703 39.334C12.3343 39.334 12.127 39.2113 12.009 39.0267L4.67565 27.6933C4.60898 27.5893 4.57031 27.466 4.57031 27.334C4.57031 27.0427 4.75698 26.7953 5.01698 26.7047C7.41165 25.8667 9.67298 24.9033 11.801 23.7633' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M13.7827 25.769C12.6547 26.3777 11.6094 26.871 10.406 27.3877C10.5107 27.645 10.5707 27.925 10.5707 28.2197C10.5707 29.0017 10.1647 29.6857 9.55469 30.0817L12.2734 34.283C12.59 34.1084 12.9494 34.0004 13.3367 34.0004C14.0374 34.0004 14.6554 34.3317 15.062 34.839C21.1314 31.7564 23.61 30.0457 28.3987 25.603' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M10.3104 10.6377L8.59375 11.6864' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M12.1768 6.31982L15.5542 4.25782L14.6935 3.05315C14.6162 2.94449 14.5708 2.81115 14.5708 2.66715C14.5708 2.29915 14.8695 2.00049 15.2375 2.00049H19.9042C20.2722 2.00049 20.5708 2.29915 20.5708 2.66715C20.5708 2.73049 20.5622 2.79249 20.5455 2.85049L19.2122 7.51715C19.1322 7.79649 18.8755 8.00049 18.5708 8.00049C18.3462 8.00049 18.1482 7.88982 18.0268 7.71982L17.1341 6.46982L12.0215 9.59182' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M8.23047 8.73044L9.94514 7.68311' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M4.81836 10.8128L6.52436 9.77148' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M8.37628 19.1142L6.25428 20.4095L7.11495 21.6142C7.19295 21.7228 7.23828 21.8562 7.23828 22.0002C7.23828 22.3682 6.93961 22.6668 6.57161 22.6668H1.90495C1.53695 22.6668 1.23828 22.3682 1.23828 22.0002C1.23828 21.9368 1.24695 21.8748 1.26361 21.8168L2.59695 17.1502C2.67695 16.8708 2.93361 16.6668 3.23828 16.6668C3.46295 16.6668 3.66095 16.7775 3.78228 16.9475L4.67495 18.1975L7.77228 16.3062' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')

mixin svg_money_low_price
    svg(width='39' height='39' viewbox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M15.3327 31.3542C17.91 31.3542 19.9993 30.3095 19.9993 29.0208C19.9993 27.7322 17.91 26.6875 15.3327 26.6875C12.7554 26.6875 10.666 27.7322 10.666 29.0208C10.666 30.3095 12.7554 31.3542 15.3327 31.3542Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M19.992 28.8807C20.8067 29.5633 22.2953 30.0207 24.0007 30.0207C26.578 30.0207 28.6673 28.976 28.6673 27.6873C28.6673 26.3987 26.578 25.354 24.0007 25.354C21.4233 25.354 19.334 26.3987 19.334 27.6873C19.334 27.734 19.334 27.7767 19.3393 27.8227' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M10.666 32.354C10.666 33.6427 12.7553 34.6873 15.3327 34.6873C17.91 34.6873 19.9993 33.6427 19.9993 32.354' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M19.9993 29.0205V35.6872C19.9993 36.9758 17.91 38.0205 15.3327 38.0205C12.7553 38.0205 10.666 36.9758 10.666 35.6872V29.0205' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M20.002 35.5555C20.818 36.2335 22.302 36.6875 24.0006 36.6875C26.578 36.6875 28.6673 35.6428 28.6673 34.3542V27.6875' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M20 32.2205C20.816 32.8992 22.3 33.3538 24 33.3538C26.5773 33.3538 28.6667 32.3092 28.6667 31.0205' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M18.6671 4.02044H16.1624C15.6317 4.02044 15.1231 3.80977 14.7484 3.43444L12.9277 1.61377' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M6.92773 6.94824L11.3337 11.3542' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M25.6873 1L24.5853 2.102C24.2107 2.47667 23.702 2.68733 23.1713 2.68733H21.104C20.3967 2.68733 19.7187 2.968 19.2187 3.46867L16.552 6.13533C16.1987 6.48867 16 6.96867 16 7.46867C16 8.51 16.844 9.354 17.8853 9.354C18.3853 9.354 18.8653 9.15533 19.2187 8.802L20.862 7.15867C21.1633 6.85733 21.572 6.688 21.9987 6.68733C22.4253 6.68733 22.8347 6.85667 23.1367 7.15867L24 8.02067L28.1987 12.2167C28.498 12.518 28.6667 12.9287 28.6667 13.354C28.6667 13.7807 28.4973 14.19 28.1953 14.492L22.4713 20.216C22.1693 20.518 21.76 20.6873 21.3333 20.6873C20.9067 20.6873 20.4973 20.518 20.1953 20.216L19.3333 19.354' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M31.688 7L27.334 11.354' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M17.3333 20.6872C16.9067 20.6872 16.4973 20.5178 16.1953 20.2158L10.4713 14.4918C10.1693 14.1898 10 13.7805 10 13.3538C10 12.9272 10.1693 12.5178 10.4713 12.2158L12.1953 10.4918C12.4973 10.1898 12.9067 10.0205 13.3333 10.0205C13.76 10.0205 14.1693 10.1898 14.4713 10.4918L20.1953 16.2158C20.4973 16.5178 20.6667 16.9272 20.6667 17.3538C20.6667 17.7805 20.4973 18.1898 20.1953 18.4918L18.4713 20.2158C18.1693 20.5178 17.76 20.6872 17.3333 20.6872Z' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M33.7341 12.9526L32.2754 14.4113' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M36.401 10.2861L34.9316 11.7555' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M38.6673 20.6875H33.334' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M33.7341 28.422L32.2754 26.9634' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M36.401 31.0885L34.9316 29.6191' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M4.93164 12.9526L6.39031 14.4113' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M2.26562 10.2861L3.73496 11.7555' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M0 20.6875H5.33333' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M4.93164 28.422L6.39031 26.9634' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')
        path(d='M2.26562 31.0885L3.73496 29.6191' stroke='#3E5DA7' stroke-width='1.5' stroke-miterlimit='10')


mixin finger_block
    div(class="rounded-xl bg-white p-2 space-y-2 col-span-2 md:col-span-1 md:px-4 ")
        +svg_finger()
        div(class="text-pretty")
            |Самый
            span(class="font-bold text-saldo-600")  широкий ассортимент
            br
            |  для строительства в Нижней Салде

mixin deliver_car
    div(class="rounded-2xl bg-white p-2 space-y-2 md:px-4")
        +svg_delivery_car()
        div(class="text-pretty")
            |Доставка заказа
            br
            span(class="font-bold text-saldo-600")  в день заказа

mixin money_optom
    div(class="rounded-xl bg-white p-2 space-y-2 md:px-4")
        +svg_money_optom()
        div(class="text-pretty")
            span(class="font-bold text-saldo-600") Оптовые цены
            br
            |  при покупке от 50 000 ₽

mixin money_back
    div(class="rounded-xl bg-white p-2 space-y-2 md:px-4 md:pb-8")
        +svg_money_back()
        div(class="text-pretty")
            span(class="font-bold text-saldo-600") Легкий возврат
            br
            |  в первые 14 дней

mixin low_price
    div(class="rounded-xl bg-white p-2 space-y-2 md:px-4 md:pb-8")
        +svg_money_low_price()
        div(class="text-pretty")
            |Самые
            span(class="font-bold text-saldo-600")  низкие цены
            br
            |  в Нижней Салде
