mixin buttonLeft
    button(class=" text-saldo fill-none hover:fill-saldo hover:text-white w-1/6")
        svg(width="30" height="30", viewBox="0 0 30 30", xmlns="http://www.w3.org/2000/svg", class="size-6 stroke-current")
            path(d="M23.4375 3.75H6.5625C5.0092 3.75 3.75 5.0092 3.75 6.5625V23.4375C3.75 24.9908 5.0092 26.25 6.5625 26.25H23.4375C24.9908 26.25 26.25 24.9908 26.25 23.4375V6.5625C26.25 5.0092 24.9908 3.75 23.4375 3.75Z" stroke-width="2" stroke-linejoin="round")
            path(d="M17.3438 20.625L11.7188 15L17.3438 9.375" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin buttonRight
    button(class=" text-saldo fill-none hover:fill-saldo hover:text-white rotate-180 w-1/6")
        svg(width="30" height="30", viewBox="0 0 30 30", xmlns="http://www.w3.org/2000/svg", class="size-6 stroke-current")
            path(d="M23.4375 3.75H6.5625C5.0092 3.75 3.75 5.0092 3.75 6.5625V23.4375C3.75 24.9908 5.0092 26.25 6.5625 26.25H23.4375C24.9908 26.25 26.25 24.9908 26.25 23.4375V6.5625C26.25 5.0092 24.9908 3.75 23.4375 3.75Z" stroke-width="2" stroke-linejoin="round")
            path(d="M17.3438 20.625L11.7188 15L17.3438 9.375" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin button_catalog
    button(class="p-2 px-2 lg:px-6 bg-sky-100 rounded-xl items-center text-saldo hover:bg-saldo hover:text-white")
        div(class="text-blue-800 text-base font-bold font-['Circe'] leading-snug")
        |В каталог

mixin button_card
    button(class="p-0.5 px-2 lg:px-3 bg-saldo rounded-xl items-center text-base text-white hover:bg-sky-100 hover:text-saldo")
        div(class="text-blue-800 text-base font-bold font-['Circe'] leading-snug")
        |В корзину