
mixin menu
    div(class="bg-saldo-50 flex flex-col w-screen overflow-y-scroll snap-y snap-mandatory no-scrollbar scroll-smooth overscroll-contain ")
        ul(class="flex flex-col divide-y divide-saldo-300 w-screen p-4 md:p-8")
            li(class="flex justify-between mx-2 pb-4 items-center")
                div(onclick="openMobileMenu()" class="")
                    button(class="stroke-saldo bg-transparent size-2.5 md:size-3.5 fill-none")
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 22" )
                            path(d="M11 1L1 11L11 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                div(class="text-saldo-600 font-bold text-md")
                    | Каталог товаров
                div(onclick="openMobileMenu()" class="")
                    button(class="stroke-saldo bg-transparent size-4 md:size-6")
                        svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" class="")
                            path(d="M18.8893 18.8889L1.11155 1.11111" stroke="#3E5DA7" stroke-width="2" stroke-linecap="round")
                            path(d="M18.8885 1.11111L1.11068 18.8889" stroke="#3E5DA7" stroke-width="2" stroke-linecap="round")
            li(class="py-3 md:py-8 md:-mx-4")
                +search_line()
            li(class="")
                - for (let i = 0; i<20; i++)
                    +menu_categorie()
        div(class="hidden lg:block w-2/3")
            | Категория

mixin submenu
    div(class="bg-saldo-50 flex flex-col w-screen overflow-y-scroll snap-y snap-mandatory no-scrollbar scroll-smooth overscroll-contain ")
        ul(class="flex flex-col divide-y divide-saldo-300 w-screen p-4 md:p-8")
            li(class="flex justify-between mx-2 pb-4 items-center")
                div(onclick="openMobileSubMenu()" class="")
                    button(class="stroke-saldo bg-transparent size-2.5 md:size-3.5 fill-none")
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 22" )
                            path(d="M11 1L1 11L11 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                div(class="text-saldo-600 font-bold text-md")
                    | Каталог товаров
                div(onclick="openMobileSubMenu(), openMobileMenu()" class="")
                    button(class="stroke-saldo bg-transparent size-4 md:size-6")
                        svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" class="")
                            path(d="M18.8893 18.8889L1.11155 1.11111" stroke="#3E5DA7" stroke-width="2" stroke-linecap="round")
                            path(d="M18.8885 1.11111L1.11068 18.8889" stroke="#3E5DA7" stroke-width="2" stroke-linecap="round")
            li(class="py-3 md:py-8 md:-mx-4")
                button(class="flex bg-saldo rounded-xl p-1 w-full")
                    span(class="items-start ml-4 text-saldo-50 font-bold text-lg ") Перейти в категорию
            li(class="")
              - for (let i = 0; i<20; i++)
                +submenu_categorie()
