//- add all mixins
include mod

- const categories = ['Главная категория 1', 'Главная категория 2', 'Главная категория 3', 'Главная категория 4', 'Главная категория 5', 'Главная категория 6', 'Главная категория 7']

div(class="lg:flex lg:justify-between lg:items-center p-4 lg:px-16 lg:p-0 lg:py-4")
    +logo()
    +menu_buttons()
    +social_buttons()


div(class="hidden lg:block px-16")
    ul(class="flex justify-between whitespace-pre-wrap items-center gap-6 *no-underline hover:*:underline")
        each el in categories
            a(href="h") #{el}